html
  head
    title Pets
    link(href='/css/main.css', rel='stylesheet')
  body
    h1 Pets
      table
        tr
          th Pet name
          th Pet species
        each pet in pets
          tr
            td
              form(class='updateForm')
                input(type='hidden', value=pet.pet_id, name='petId')
                input(class='pet-name', value=pet.name, name='newName')
            td= pet.species_name

    div(id='message')
    
    script(src='/js/main.js')
