html
  head
    title Pets
    link(href='/css/main.css', rel='stylesheet')
  body
    h1 Pets
    table
      tr
        th Pet name
        th Pet species
      each pet in pets
        tr
          td
            input(class='pet-name', value=pet.name, name='newName', data-petId=pet.pet_id)
          td= pet.species_name
    div(id='message')
  script(src='script.js')
