table, td, th {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5px;
}

th {
  background-color: lightgray;
  text-align: center;
}

.error {
  font-weight: bold;
  color: red;
}

.success {
  font-weight: bold;
  color: red;
}
